llama-index-core
llama-index-vector-stores-postgres
llama-index-embeddings-google-genai
chromadb
python-dotenv
llama-index-llms-google-genai
google-cloud-storage
google-cloud-discoveryengine
cloud-sql-python-connector
fastapi
uvicorn[standard]
pydantic